body{
    font-family: roboto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 100vh;
    margin:0px;
}

div.header {
    color: white;
    display: flex;
    flex-direction: row;
    background-color:#223166;
    align-items:center;
    justify-content:space-between;
    min-height: 50px;
    
}
div.left_side{
    text-align:center
}
div.right_side{
    margin:10px;
}
div#right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    margin:10px;
}
h1{
    gap: 500px;
    margin: 10px;
}
 h3#three{
    justify-content: center;
    display:flex;
    gap:50px;
    margin:0px;
    align-items: center;
}
div.container_1{
    display: flex;
    flex-direction:row;
    gap:200px;
    justify-content:space-between;
}

div#contents{
    display:flex;
    flex: 4;
    flex-direction: column;
    height:300px;

}
div.container_2{
    display: flex;
    justify-items: center;
    justify-content: center;
    gap:60px;
    align-items:center;
    margin: 0px;
    background:#223166;
}
div.sqr1{
    margin:10px;
    flex-direction:column;
    display:flex;
}
.footer{
    text-align: center;
    margin:0px;
    min-height:50px;
    background:#223166;
}
img{
    border-radius: 10px;
}