body{
    font-family: roboto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 100vh;
    margin:0px;
}

div.header {
    color: white;
    display: flex;
    flex-direction: row;
    background-color:#223166;
    align-items:center;
    justify-content:space-between;
    min-height: 50px;
    
}
h1{
gap: 500px;
margin: 10px;
}
 h3#three{
  display:flex;
  gap:-50px;
  margin:10px;
}
div.container_1{
    display: flex;
    flex-direction:row;
    gap:200px;
    justify-content:space-between;
}

div.container_2,div.container_3,div.container_4{
    display:flex;
    flex: 4;
    flex-direction: column;
    height:300px;

}
.footer{
    text-align: center;
    margin:0px;
    min-height:50px;
}